* {
    font-family: 'Merriweather', serif;
    margin: 20px 40px;
}

.header-banner {
    border-radius: 16px;

    /* background-image: url('/resources/BannerImage.png'); */
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('resources/BannerImage.png');
    background-repeat: no-repeat;
    min-width: 1320px;
    min-height: 600px;

    background-size: 100% 100%;


}

.header-banner-title,
.header-banner-second-title {
    text-align: center;
}

.header-banner-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    /* padding: 177px 383px 530px 530px; */
    padding-top: 100px;
    height: 40px;
}

.header-banner-second-title {
    /* width: 632px; */
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    padding: 0px;


    /* margin: 233px 377px 344px 344px; */
}


.discount {
    text-align: center;
    margin-top: 120px;
}

.off {

    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;

}

.our-new-year-deals {

    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 48px;
}

.all-categories {

    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;

}

.img {
    padding-top: 48px;
}



/* hover efffet trying  */
.shrink img {
    transition: 1s ease;
}

.shrink img:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

.mid-night-party {
    /* background-image: url('/resources/Vectorrr.png'); */
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('/resources/Vectorrr.png');
    background-repeat: no-repeat;

    min-width: 1320px;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    background-size: 100% 100%;

}

.mid-night-party-text h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;

}

.mid-night-party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 697px;

}

.mid-night-party-text button {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    color: #FFF;

    padding-left: 80px;
    padding-top: 35px;
    font-family: Inter;

    background: none;
    border: none;
    margin: 0;

    cursor: pointer;
}

.our-portfolio {
    margin-top: 200px;
    min-width: 1320px;
    min-height: 600px;
}

.text-gifts {
    text-align: left;
    margin-left: 0;
    padding-left: 0;

}

.text-gifts h3 {

    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-left: 0;
    padding-left: 0;


}

.text-gifts h1 {

    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

    margin-left: 0;
    padding-left: 0;

}

.text-gifts p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

    margin-left: 0;
    padding-left: 0;

}

.our-portfolio img {
    border-radius: 16px;

}

.img {
    margin-left: 0;
    margin-right: 0;

    padding-right: 0;
    padding-left: 0;

}


.img-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}



.img-container div {
    margin-left: 0;
    margin-right: 0;

    display: flex;
    justify-content: space-between;
    min-width: 1320px;
    margin-left: 0;
    padding-left: 0;
}

.img-container img {
    margin-left: 0;
    margin-right: 0;


    width: 424px;
    height: 450px;

}


.Newsletter {
    text-align: center;
    margin-top: 120px;
    background-color: #FF00000D;

    /* width: 1320px; */
    height: 716px;
    flex-shrink: 0;
    border-radius: 16px;

}

.Newsletter img {
    padding-top: 80px;
    margin-bottom: 40px;

}

.Newsletter h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;

    font-weight: 900;
    margin-bottom: 22px;

}

.Newsletter p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}






.box {
    display: inline-block;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 70px;


    width: 648px;
    height: 72px;
    flex-shrink: 0;

    border-radius: 50px;


}

.subsciption-box {
    /* border-radius: 50px; */
}

.subsciption-box input {


    width: 300px;
    height: 72px;
    flex-shrink: 0;


    border: none;
    padding-right: 0;
    margin-right: 0;

    border-end-start-radius: 50px;
    border-start-start-radius: 50px;


    color: rgba(7, 2, 17, 0.30);

    font-family: Inter;
    font-size: 18px;

    font-weight: 400;
    text-align: center;


}


.subsciption-box button {



    border: none;
    padding-left: 0;
    margin-left: 0;


    width: 150px;
    height: 72px;
    flex-shrink: 0;


    border-start-end-radius: 50px;
    border-end-end-radius: 50px;


    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;




    border-radius: 0px 50px 50px 0px;
    background: #F00;
}


.footer-info {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */



}

.footer-img {
    display: flex;

    justify-content: center;
}